# Byte-compiled / cache
__pycache__/
*.py[cod]
*.swp

# Virtual environments
.env/
venv/
*.env

# System
.DS_Store

# Audio output files
*.wav

# VSCode
.vscode/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore everything
*

# Except these files/folders
!.gitignore
!app.py
!demo_chatbot.py
!chatbot.py
!asr_test.py
!rag_setup.py
!requirements.txt
!README.md
!knowledge_base.txt